################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/tiff-3.9.2.tar.gz

md5sum = 93e56e421679c591de7552db13384cb8

[mirrors]
gentoo = mirror.muntinternet.net/pub


